{% extends "base.html" %}

{% block content %}
<section class="page-header">
    <hgroup>
        <h1>More About Me</h1>
    </hgroup>
</section>

<section class="section narrow">
    <article>
        <h3>MoreThings I am interested in</h3>
        <ul>
            <li>Dungeons & Dragons</li>
            <li>SpaceX</li>
            <li>"Survivor"</li>
            <li>Yorkshire Terriers</li>
            <li><em>Zen and the Art of Motorcycle Maintenance</em></li>
        </ul>
    </article>
</section>
{% endblock %}