{% extends "base.html" %}

{% block content %}
<section class="page-header">
    <hgroup>
        <h1>More About Me</h1>
    </hgroup>
</section>

<section class="section narrow">
    <article>
        <h3>More Things I am interested in</h3>
        <ul>
            <li>
                <a href="https://philosopedia.org/absurdism-meaning-your-guide-to-embracing-life-s-contradictions/" target="_blank" rel="noopener noreferrer">Absurdism</a></li>
            <li>
                <a href="https://agilemanifesto.org/" target="_blank" rel="noopener noreferrer">Agile Software Development</a></li>
            <li>
                <a href="https://www.arsenal.com/" target="_blank" rel="noopener noreferrer">Arsenal FC</a></li>
            <li>
                <a href="https://www.nasa.gov/" target="_blank" rel="noopener noreferrer">NASA</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Artificial_intelligence" target="_blank" rel="noopener noreferrer">Artificial Intelligence</a></li>
            <li>
                <a href="https://boxrec.com" target="_blank" rel="noopener noreferrer">Boxing</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Buddhism" target="_blank" rel="noopener noreferrer">Buddhism</a></li>
            <li>
                <a href="https://capecanaveral.gov/" target="_blank" rel="noopener noreferrer">Cape Canaveral</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Celtic_history_and_culture" target="_blank" rel="noopener noreferrer">Celtic History and Culture</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Charles_Dickens" target="_blank" rel="noopener noreferrer">Charles Dickens</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Chicago" target="_blank" rel="noopener noreferrer">Chicago</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Chicago_Bears" target="_blank" rel="noopener noreferrer">Chicago Bears</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Chicago_Cubs" target="_blank" rel="noopener noreferrer">Chicago Cubs</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Chickens" target="_blank" rel="noopener noreferrer">Chickens (raising them)</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Colorado" target="_blank" rel="noopener noreferrer">Colorado</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Cormac_McCarthy" target="_blank" rel="noopener noreferrer">Cormac McCarthy</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Creative_writing" target="_blank" rel="noopener noreferrer">Creative Writing</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Dave_Matthews_Band" target="_blank" rel="noopener noreferrer">Dave Matthews Band</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Denver_Broncos" target="_blank" rel="noopener noreferrer">Denver Broncos</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Denver_Nuggets" target="_blank" rel="noopener noreferrer">Denver Nuggets</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons" target="_blank" rel="noopener noreferrer">Dungeons & Dragons</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Elections_and_election_technology" target="_blank" rel="noopener noreferrer">Elections and Election Technology</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Ernest_Hemingway" target="_blank" rel="noopener noreferrer">Ernest Hemingway</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Existentialism" target="_blank" rel="noopener noreferrer">Existensialism</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/France" target="_blank" rel="noopener noreferrer">France</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Frankenmuth,_Michigan" target="_blank" rel="noopener noreferrer">Frankenmuth, MI (My hometown)</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Generation_X" target="_blank" rel="noopener noreferrer">Gen X Culture</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Grand_Canyon_University" target="_blank" rel="noopener noreferrer">Grand Canyon University</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/The_Grateful_Dead" target="_blank" rel="noopener noreferrer">The Grateful Dead</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Grenoble" target="_blank" rel="noopener noreferrer">Grenoble, France (my adopted hometown)</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Kazuo_Ishiguro" target="_blank" rel="noopener noreferrer">Kazuo Ishiguro</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Libertarianism" target="_blank" rel="noopener noreferrer">Libertarianism</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Literary_fiction" target="_blank" rel="noopener noreferrer">Literary Fiction</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Mensa" target="_blank" rel="noopener noreferrer">Mensa</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Meditation" target="_blank" rel="noopener noreferrer">Meditation and Mindfulness</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Moby-Dick" target="_blank" rel="noopener noreferrer"><em>Moby-Dick</em></a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Michigan" target="_blank" rel="noopener noreferrer">Michigan</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Naturism" target="_blank" rel="noopener noreferrer">Naturism</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/NASA" target="_blank" rel="noopener noreferrer">NASA</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Northwestern_University" target="_blank" rel="noopener noreferrer">Northwestern University (my alma mater)</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Octopus" target="_blank" rel="noopener noreferrer">Octopuses</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank" rel="noopener noreferrer">Python</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Quantum_physics" target="_blank" rel="noopener noreferrer">Quantum Physics</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Rockabilly" target="_blank" rel="noopener noreferrer">Rockabilly (music, fashion, and culture)</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Running" target="_blank" rel="noopener noreferrer">Running</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Satori" target="_blank" rel="noopener noreferrer">Satori</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Space_Coast_of_Florida" target="_blank" rel="noopener noreferrer">The Space Coast of Florida</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Space_Exploration" target="_blank" rel="noopener noreferrer">Space Exploration</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/SpaceX" target="_blank" rel="noopener noreferrer">SpaceX</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Surfing" target="_blank" rel="noopener noreferrer">Surfing</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Survivor_(TV_series)" target="_blank" rel="noopener noreferrer">"Survivor"</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Tour_de_France" target="_blank" rel="noopener noreferrer">Tour de France</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Ukulele" target="_blank" rel="noopener noreferrer">Ukelele</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Yorkshire_Terrier" target="_blank" rel="noopener noreferrer">Yorkshire Terriers</a></li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Zen_and_the_Art_of_Motorcycle_Maintenance" target="_blank" rel="noopener noreferrer"><em>Zen and the Art of Motorcycle Maintenance</em></a></li>
        </ul>
    </article>
</section>
{% endblock %}