{% extends "base.html" %}

{% block content %}
<section class="page-header">
    <hgroup>
        <h1>More About Me</h1>
    </hgroup>
</section>

<section class="section narrow">
    <article>
        <h3>More Things I am interested in</h3>
        <ul>
            <li>Absurdism</li>
            <li>Agile Software Development</li>
            <li>Arsenal FC</li>
            <li>Artificial Intelligence</li>
            <li>Boxing</li>
            <li>Buddhism</li>
            <li>Cape Canaveral</li>
            <li>Celtic History and Culture</li>
            <li>Charles Dickens</li>
            <li>Chicago</li>
            <li>Chicago Bears</li>
            <li>Chicago Cubs</li>
            <li>Chickens (raising them)</li>
            <li>Colorado</li>
            <li>Cormac McCarthy</li>
            <li>Creative Writing</li>
            <li>Dave Matthews Band</li>
            <li>Denver Broncos</li>
            <li>Denver Nuggets</li>
            <li>Dungeons & Dragons</li>
            <li>Elections and Election Technology</li>
            <li>Ernest Hemingway</li>
            <li>Existensialism</li>
            <li>France</li>
            <li>Frankenmuth, MI (My hometown)</li>
            <li>Gen X Culture</li>
            <li>Grand Canyon University</li>
            <li>The Grateful Dead</li>
            <li>Grenoble, France (my adopted hometown)</li>
            <li>Kazuo Ishiguro</li>
            <li>Libertarianism</li>
            <li>Literary Fiction</li>
            <li>Mensa</li>
            <li>Meditation and Mindfulness</li>
            <li><em>Moby-Dick</em></li>
            <li>Michigan</li>
            <li>Naturism</li>
            <li>NASA</li>
            <li>Northwestern University (my alma mater)</li>
            <li>Octopuses</li>
            <li>Python</li>
            <li>Quantum Physics</li>
            <li>Rockabilly (music, fashion, and culture)</li>
            <li>Running</li>
            <li>Satori</li>
            <li>The Space Coast of Florida</li>
            <li>Space Exploration</li>
            <li>SpaceX</li>
            <li>Surfing</li>
            <li>"Survivor"</li>
            <li>Tour de France</li>
            <li>Ukelele</li>
            <li>Yorkshire Terriers</li>
            <li><em>Zen and the Art of Motorcycle Maintenance</em></li>
        </ul>
    </article>
</section>
{% endblock %}