{% extends "base.html" %}

{% block content %}
<section class="page-header">
    <hgroup>
        <h1>Contact</h1>
        <p>Want to get in touch?</p>
    </hgroup>
</section>

<section class="section narrow">
    <article>
        <p>
            You can reach me by email at my new domain address.
        </p>

        <p>
            <a href="mailto:ben@benrice.me" role="button" class="secondary">
                ben@benrice.me
            </a>
        </p>
    </article>
    <article>
        <h3>Links</h3>
        Substack: <a href="https://benrice.substack.com/" target="_blank">https://benrice.substack.com/</a><br>
        LinkedIn: <a href="https://www.linkedin.com/in/benjamin-jay-rice/" target="_blank">https://www.linkedin.com/in/benjamin-jay-rice/</a><br>
        GitHub: <a href="https://github.com/benrice/" target="_blank">https://github.com/benrice/</a><br>
        Goodreads: <a href="https://www.goodreads.com/user/show/2771494-benjamin" target="_blank">https://www.goodreads.com/user/show/2771494-benjamin</a><br>
    </article>
</section>
{% endblock %}