{% extends "base.html" %}

{% block content %}
<section class="page-header">
    <hgroup>
        <h1>Contact</h1>
        <p>Want to get in touch?</p>
    </hgroup>
</section>

<section class="section narrow">
    <article>
        <p>
            You can reach me by email at my new domain address.
        </p>

        <p>
            <a href="mailto:ben@benrice.me" role="button" class="secondary">
                ben@benrice.me
            </a>
        </p>
    </article>
</section>
{% endblock %}